body, html {
    margin: 0px;
    padding: 0px;
    background: #0f0f0f;
    font-size: 11pt;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}
#logo {
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    position: relative;
    margin-left: 10px;
}
#title {
    position: absolute;
    top: 15px;
    left: 240px;
    width: 1000px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 65px;
    color: #fff;
}
#count {
    font-size: 140px;
    position: absolute;
    left: 235px;
    top: 60px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
@font-face {
    font-family: 'own_font'; /*a name to be used later*/
    src: url('logo/Roboto-Bold.ttf'); /*URL to font*/
}
