body, html {
    margin: 0px;
    padding: 0px;
    background: #0f0f0f;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    display: block;
}
#logo {
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
}
#title {
    position: absolute;
    top: 20px;
    left: 225px;
    width: 1000px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 50px;
    color: #fff;
    margin-top: 5px;
}
#count {
    font-size: 100px;
    position: absolute;
    left: 225px;
    top: 76px;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}
